.page {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn-start {
  position: absolute;
  bottom: 4rem;
  width: 10rem;
  height: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.btn-start img {
  width: 100%;
  height: 100%;
}

#name {
  position: absolute;
  bottom: 8rem;
  left: 0; right: 0;
  width: 6rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  margin: auto;
  -webkit-touch-callout: auto;
}

/*弹幕飞飞飞*/
.canvas {
  position: absolute;
  top: 2rem;
  display: block;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 0;
  box-sizing: border-box;
} 

.record-hinter {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 65%;
  line-height: 1.5rem;
  text-align: center;
  top: 3rem;
  z-index: 10;
}

.you-may-say {
  position: absolute;
  color:#916F11;
  top: 0.5rem;
  font-size: 0.9rem;
}

.hint-text {
  color:#916F11;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.record-hinter img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.record-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 1rem;
  width: 10rem;
  height: 10rem;
  border: none;
  padding: 0;
  background-color: transparent;
}

.record-btn img {
  width: 100%;
  height: 100%;
  pointer-events: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select:none;  
  -o-user-select:none;  
  user-select:none;  
}

.long-press-to-speak {
  position: absolute;
  bottom: 0rem;
  left: 0; right: 0; margin: auto;
  font-size: 0.9rem; 
  color:#916F11;
}

.sim-desc {
  position: absolute;
  top: 4.1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
  height: 6rem;
  text-align: center;
  line-height: 2rem;
}

.sim-desc img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.user-cnt-desc {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 5rem;
}

.avatar {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 3rem;
  height: 3rem;
}

.badge {
  position: absolute;
  top: -0.8rem;
  left: -0.3rem;
  width: 3rem;
  height: 3rem;
}

.user-cnt-desc-back {
  position: absolute;
  left: 1rem;
  width: 90%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.user-cnt-desc-text{
  position: absolute;
  color: #916F11;
  top: 1rem;
  left: 0; right: 0;
  margin: auto;
  z-index: 1;
  text-align: center;
}

.user-cnt-desc-text h2 {
  margin: 0;
}

/* .user-cnt-desc text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #916F11;
} */

.recog-result {
  position: absolute;
  top: 12.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 10rem;
}

.recog-result img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.recog-result-text {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  color: #916F11;
  z-index: 1;
  text-align: center;
}

.btn-play {
  position: absolute;
  top: 25rem;
  left: 3rem;
}

#audio {
  position: absolute;
  top: 25rem;
  left: 0; right: 0; margin: auto;
  width: 50%;
  height: 2rem;
}

.btn-share-return {
  position: absolute;
  bottom: 10rem;
  width: 10rem;
  height: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.btn-share-return img {
  width: 100%;
  height: 100%;
}

.qrcode {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
}